name: Build x-pack-core

on:
  push:
    branches:
      - master

permissions:
  contents: write
  discussions: write

env:
  DOCKER_IMAGE: x-pack-core
  DOCKER_CONTAINER: x-pack-core

jobs:
  build:
    name: Generate License
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Crack x-pack-core
      id: build
      run: |
        source .env
        rm -rf x-pack-core/output
        mkdir x-pack-core/output
        echo "ELASTIC_VERSION=${ELASTIC_VERSION}"
        echo "TAGNAME=${ELASTIC_VERSION}-$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

        docker build --build-arg ELASTIC_VERSION=${ELASTIC_VERSION} -t $DOCKER_IMAGE x-pack-core
        docker run --rm -v ${PWD}/x-pack-core/output:/x-pack-core/output --name $DOCKER_CONTAINER $DOCKER_IMAGE bash build.sh
        ls -la x-pack-core/output

    - uses: actions/github-script@v7
      id: push-tag
      with:
        script: |
          github.rest.git.createRef({
            owner: context.repo.owner,
            repo: context.repo.repo,
            ref: 'refs/tags/${{ steps.build.outputs.TAGNAME }}',
            sha: context.sha
          })
    
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ steps.build.outputs.TAGNAME }}
        files: |
          x-pack-core/output/*
        